


:root {
  --white: #fffefe;
  --black: #020202;
  --red: #eecce4;
  --blue: #2196F3;
  --yellow: #f0b4de;
  --grey: #080808;
  --h3-blue: #0000ff;
}

body {
  background-color: var(--white);
  padding: 40px;
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: var(--black);
  margin-top: 0;
}
.container {
  display: grid;
  justify-content: center;
  align-items: flex-start; 
  flex-wrap: wrap; 
  gap: 20px;
  margin-top: 30px;
}

.person-card {
  background: var(--white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.person-card h3 {
  margin: 0 0 10px;
  color: var(--h3-blue);
}

.person-card p {
  margin: 5px 0;
  font-size: 15px;
}
